name: "jf-petclinic-build"
on:
  pull_request_target:
    types: [opened, synchronize]
  push: # Triggers scan-repo flow for every push to the specified branches
    branches:
      - main
      - develop

permissions:
  pull-requests: write
  contents: read
  id-token: write
  actions: read
  security-events: write

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        #with:
        #  ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ vars.JF_URL }}
        with:
          oidc-provider-name: joestack/jf-petclinic@github

      - name: Run JFrog CLI
        run: |
          # Ping the server
          jf rt ping
          jf c show
 
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'
          #cache: maven
 
      - name: Source Code Scan
        run: |
          #jf audit --gradle --sast --sca --secrets --sbom --format=table > audit-results
          jf audit --format=table > audit-results

      - name: Upload Audit results
        uses: actions/upload-artifact@v4
        with:
          name: audit-results
          path: audit-results

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
 
      - name: Gradle Build
        run: |
          jf gradlec \
            --repo-deploy=jf-petclinic-gradle-release-local \
            --repo-resolve=jf-petclinic-gradle-release
          # Build steps here
          # jf gradle clean build test
          jf gradle clean build test artifactoryPublish


      - name: Publish Build Info
        run: |
          jf rt build-add-git # connect to git metadata and repo
          jf rt build-collect-env # show ENV variables
          jf rt build-publish

      - name: Scan Build with Xray Watches
        id: xray-scan
        run: |
          jf bs \
             --fail=true \
             --format=json > scan-results.json
      
      - name: Upload Scan Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: xray-scan-results
          path: scan-results.json
      
      